.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* border radius */
.br{
    border-radius: 3px;
}

.p-10{
    padding: 10px;
}

.dNone{
    display: none;
}

#nav-belt {
    background-color: #9d003a;
    display: flex;
    flex-direction: row;
    height: 60px;
    color: white;
    font-size: x-large;
}

.nav-belt-items{
    margin: 0 15px;
}

.nav-belt-items-links{
    height: 100%;
    display: block;
}

.nav-belt-items:hover{
    outline: 3px solid white;
}

.nav-belt-items-active{
    outline: 3px solid white;
}

#nav-left {
    display: flex;  
}

#nav-logo-wrapper{
}

#category-slot {
    position: relative;
    height: 100%;
}

#category-text-container{
    height: 100%;
    padding: 0%;
}

#category-text-wrapper{
    height: -webkit-fill-available;
}

#nav-fill{
    display: flex;
    flex: 1 0 0;
}

#search-form-wrapper{
    width: 100%;
}

#search-form{
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 3px;
}

#search-form input{
    width: 100%;
    border: none;
    border-radius: 3px 0 0 3px;
}

#search-form input:focus{
    outline: none;
}

#search-form:focus-within{
    box-shadow: 0 0 0 3px #f90;
}

#nav-fill form button{
    border: none;
    border-radius: 0 3px 3px 0;
}

#nav-right{
    display: flex;
}

#cart-slot{
}

#account-slot{
    /* height: 100%; */
    position:relative
}

#account-item-container{
    height: -webkit-fill-available;
}

#account-menu{
    margin: 0;
    background-color: #ececec;
    list-style: none;
    position: absolute;
    right: 12px;
    top: 63px;
    padding: 10px 0 0 0;
}

.account-menu-items{
    padding: 0px 10px 10px 10px;
    white-space: nowrap;
    color: black;
}

.account-menu-items:hover{
    color: #002D9D;
}